body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

  background: rgba(210, 238, 255, 0.938);
}
.content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.content-head {
    width: 100%;
    height: 15vh;
    background: #ffa4a4;
}
.content-body {
    padding: 25px;
    /* width: 100%; */
    height: 85vh;
    background: rgb(159, 241, 235);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-window{
    margin: 0 auto;
    width: 80vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.field{
    width: 100%;
    /* Высота отвечает за пропорции игрового поля */
    height: 100%;
    background: rgb(250, 186, 102);
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
.field__row{
    width: 100%;
    height: 100%;
    background: #f5e4de;
    display: flex;
    align-content: stretch;
}
.field__cell{
    width: 100%;
    height: 100%;
    background: khaki;
}

.chat{
    width: 20vw;
    height: 80vh;
    background: rgb(83, 167, 216);
}

/* @media (orientation: portrait) {

} */