body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: hsl(203, 82%, 85%);
}

body,
input,
select {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.button {
  border-radius: 4px;
  background: #ffffff;
  border: none;
  height: 25px;
  width: 100px;
}
.select {
  border-radius: 4px;
  border: none;
  height: 25px;
  box-sizing: content-box;
  border: 1.5px solid #00489b79;
}
.input-text {
  border-radius: 4px;
  border: none;
  height: 25px;
  box-sizing: border-box;
  padding: 5px;
}
.content {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.content-head {
  width: 100%;
  height: 100px;
  background: #ffa4a4;
}
.content-body {
  padding: 25px 0;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content_modal_background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#game_window_modal_background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(188, 200, 255, 0.5);
  transition: 0.2s;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pop_up_header {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  margin-top: -180px;
}
#start_menu {
  background: linear-gradient(to top right, #2e3192, #1babff);
  /* border: 2px solid #00489b79; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  opacity: 0.9;
}
#user_name_input {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: #2e3192;
}
#user_name_input::placeholder {
  color: #2e3192;
}
#start_btn {
  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 18px;
}
#user_name_output {
}
#time_counter {
}
#bomb_counter {
}
#game_window {
  display: none;
  /* margin: 0 auto; */
  margin-right: 50px;
  flex-direction: column;
  justify-content: center;
  transition: 0.4s;
  position: relative;
}
.game_window_wide {
  /* width: 530px !important; */
}
/* .chat { */
/* display: none; */
/* width: 350px; */
/* height: 700px; */
/* background: rgb(83, 167, 216); */
/* } */

#field {
  width: 100%;
  height: 90%;
  font-size: 16px;
}
#menu {
  width: 100%;
  height: 10%;
  background: rgba(18, 123, 243, 0.473);
  border: 1px solid #00489b79;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.4s;
}
.cells {
  width: 100%;
  /* Высота отвечает за пропорции игрового поля */
  transition: 0.4s;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
.row {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: stretch;
  margin-bottom: 1px;
}
.cell {
  width: 100%;
  height: 100%;
  background: #127bf379;
  border: 1px solid #00489b79;
  border-radius: 5px;
  box-sizing: border-box;
  margin-right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}
.cell:hover {
  transition: 0.2s;
  opacity: 0.7;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.726);
}
.cell_open {
  background: #8ac1ffd3 !important;
  border: 1px solid #127bf379 !important;
  transition: 0.4s;
}
.cell_bomb::before {
  content: "💣";
  transition: 0.4s;
}
.cell_flag {
}
.cell_flag::before {
  content: "🏳️‍🌈";
  transition: 0.4s;
}
.cell_number {
}
.cell_number_1::before {
  content: "1";

  color: hsla(130, 100%, 36%, 0.61);
}
.cell_number_2::before {
  content: "2";
  color: hsla(219, 100%, 46%, 0.781);
}
.cell_number_3::before {
  content: "3";
  color: hsla(0, 89%, 49%, 0.836);
}
.cell_number_4::before {
  content: "4";
  color: hsla(4, 100%, 44%, 0.836);
}
.cell_number_5::before {
  content: "5";
  color: hsla(4, 100%, 44%, 0.781);
}
.cell_number_6::before {
  content: "6";

  color: hsla(4, 98%, 42%, 0.712);
}
.cell_number_7::before {
  content: "7";

  color: hsla(4, 95%, 33%, 0.842);
}
.cell_number_8::before {
  content: "8";
  color: hsla(4, 98%, 33%, 0.911);
}

.tableList {
  background-color: white;
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: -45px;
  margin-top: 10px;
}
.windowtable {
  /*	background-color: white;*/
  position: absolute;
  margin-left: 95px;
  border-radius: 4px 4px;
  margin-top: 220px;
}
.nameTable {
  /*color: #127bf379;*/
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px 4px;
  position: absolute;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  opacity: 0.7;
  /*	margin-left: 5px;*/
  margin-top: 40px;
}
table {
  position: absolute;
  width: 100%; /* Ширина таблицы */
  border: 4px black; /* Рамка вокруг таблицы */
  border-collapse: collapse; /* Отображать только одинарные линии */
}
th {
  text-align: left; /* Выравнивание по левому краю */
  padding: 5px; /* Поля вокруг содержимого ячеек */
  border: 1px solid black; /* Граница вокруг ячеек */
  height: 10px;
}
td {
  padding: 5px; /* Поля вокруг содержимого ячеек */
  border: 1px solid black; /* Граница вокруг ячеек */
}
.tableList::-webkit-scrollbar {
  width: 0.3rem;
}
.tableList::-webkit-scrollbar-thumb {
  background: #cfd8dc;
}
.tableList::-webkit-scrollbar-thumb:hover {
  background: #b0bec5;
}

.exit_butt {
  position: absolute;
  top: 10%;
  left: 10%;
  border-radius: 10px;
  border: solid black 1px;
  width: 150px;
  height: 80px;
}
.check_butt {
  position: absolute;
  top: 20%;
  left: 10%;
  border-radius: 10px;
  border: solid black 1px;
  width: 150px;
  height: 80px;
}
.start_butt {
  position: absolute;
  top: 30%;
  left: 10%;
  border-radius: 10px;
  border: solid black 1px;
  width: 150px;
  height: 80px;
}
.record_butt {
  position: absolute;
  top: 40%;
  left: 10%;
  border-radius: 10px;
  border: solid black 1px;
  width: 150px;
  height: 80px;
}
.end_butt {
  position: absolute;
  top: 50%;
  left: 10%;
  border-radius: 10px;
  border: solid black 1px;
  width: 150px;
  height: 80px;
}
.messages_butt {
  position: absolute;
  top: 60%;
  left: 10%;
  border-radius: 10px;
  border: solid black 1px;
  width: 150px;
  height: 80px;
}
@media screen and (min-device-width: 1400px) {
  .content {
    width: 1400px;
  }
  #start_menu {
    width: 290px;
    height: 230px;
  }
  #user_name_input {
    width: 175px;
    height: 45px;
  }
  #start_btn {
    width: 115px;
    height: 45px;
  }
  #user_name_output {
    width: 115px;
  }
  #time_counter {
    width: 90px;
  }
  #bomb_counter {
    width: 70px;
  }
  #game_window {
    width: 730px;
    height: 810px;
  }
  .tableList {
    min-height: 200px;
    width: 420px;
  }
  .windowtable {
    min-height: 20px;
    width: 520px;
  }
  .nameTable {
    min-height: 50px;
    width: 300px;
  }

  /* ЧАТ */
  .main {
    min-height: 1rem;
    width: 330px;
  }
  .chat_main {
    width: 405px;
    height: 810px;
  }
  .from_me {
    width: 220px;
  }
  .from_another {
    width: 220px;
  }
  .myName {
    margin-left: 240px;
  }
}
@media screen and (max-device-width: 1400px) {
  .content {
    width: 1200px;
  }
  #start_menu {
    width: 250px;
    height: 200px;
  }
  #user_name_input {
    width: 150px;
    height: 40px;
  }
  #start_btn {
    width: 100px;
    height: 40px;
  }
  #user_name_output {
    width: 100px;
  }
  #time_counter {
    width: 80px;
  }
  #bomb_counter {
    width: 60px;
  }
  #game_window {
    /* width: 630px;
    height: 700px; */
    width: 500px;
    height: 550px;
  }
  .tableList {
    min-height: 193px;
    width: 400px;
  }
  .windowtable {
    min-height: 300px;
    width: 500px;
  }
  .nameTable {
    min-height: 40px;
    width: 250px;
  }

  /* ЧАТ */
  .main {
    min-height: 1rem;
    width: 200px;
  }
  .chat_main {
    width: 275px;
    height: 550px;
  }
  .from_me {
    width: 150px;
  }
  .from_another {
    width: 150px;
  }
  .myName {
    margin-left: 180px;
  }
  #send {
    height: 10px;
    font-size: 10px;
  }
}
@media screen and (max-device-width: 1200px) {
  .content {
    width: 1000px;
  }
  #start_menu {
    width: 250px;
    height: 200px;
  }
  #user_name_input {
    width: 150px;
    height: 40px;
  }
  #start_btn {
    width: 100px;
    height: 40px;
  }
  #user_name_output {
    width: 90px;
  }
  #time_counter {
    width: 70px;
  }
  #bomb_counter {
    width: 50px;
  }
  #game_window {
    width: 540px;
    height: 600px;
  }
  .tableList {
    min-height: 193px;
    width: 300px;
  }
  .windowtable {
    min-height: 300px;
    width: 400px;
  }
  .nameTable {
    min-height: 40px;
    width: 250px;
  }
  /* ЧАТ */
  .main {
    min-height: 1rem;
    width: 260px;
  }
  .chat_main {
    width: 300x;
    height: 600px;
  }
  .from_me {
    width: 180px;
  }
  .from_another {
    width: 180px;
  }
  .myName {
    margin-left: 180px;
  }
}
